{% extends "base.html" %}


{% block body_content %}
<div class="container">
    <div class="row justify-content-start">
        <h1 class="h2 mb-4">Login</h1>
    </div>
<form action="{{ url_for('login') }}" method="POST">
  <div class="mb-3">
    <label for="user_name" class="form-label">User Name</label>
    <input type="text" id="user_name" name="user_name" class="form-control">
  </div>

  <div class="mb-3">
    <label for="user_pass" class="form-label">Password</label>
    <input type="password" class="form-control" id="user_pass" name="user_pass">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>
{% endblock %}